:root {
    --primary: #FF006F;
    --secondary: #040033;
    --accent: #00FFA6;
}

body {
    font-family: Georgia, sans-serif;
    background: #040033;
    margin: 0;
}

.spark {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 0.5s linear forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.3);
    }
}

/*导航栏整体*/
nav {
    background: var(--secondary); 
    padding: 15px 30px; /*导航栏内部边距*/
    display: flex; /*布局*/
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*导航栏链接*/
nav a {
    color: var(--accent);
    text-decoration: none;
    margin: 8px 15px;
    font-weight: bold;
    transition: color 0.3s; /*颜色变化动画*/
}

nav a:hover {
    color: var(--primary);
}

.nav-links {
    display: flex;
    align-items: center;
}

.divider {
    width: 1px;
    height: 18px;
    background: white;
    margin: 0 12px;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.hero{
    height: 315px;
    overflow: hidden;
    position: relative;
}

.hero img {
    width: 100%;
    height: 315px;
    object-fit: cover;
    filter: blur(4px);
}

.hero-text {
    position: absolute;
    inset: 0;
    text-align: center;
}

.typewriter { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    font-size: 40px;
    font-weight: bold;
    font-family: monospace;

    color: transparent;
    -webkit-text-stroke: 2px white;   /* 白色描边 */

    border-right: 3px solid white;
    overflow: hidden;

    width: 0;

    animation:
        typing 3s steps(15) forwards,
        blink 0.7s infinite,
        fadeout 2s 4s forwards;
}


.fixed-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    font-family: monospace;

    color: transparent;
    -webkit-text-stroke: 2px white;

    opacity: 0;
    animation: fadein 1s 5s forwards;

    white-space: nowrap;
}

/* 打字效果 */
@keyframes typing {
    from { width: 0 }
    to { width: 15ch }
}

/* 光标闪烁 */
@keyframes blink {
    50% { border-color: transparent }
}

/* 文字消失 */
@keyframes fadeout {
    to { opacity: 0 }
}

@keyframes fadein {
    to { opacity: 1; }
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    #040033 100%
  );
}

.section img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 15px;
    border-radius: 8px;
}